.hrdivider {
  position: relative;
  margin-bottom: 20px;
  width: 100%;
  text-align: center;
}

.hrdivider span {
  position: absolute;
  top: -5px;
  background: #fff;
  padding: 0 20px;
  font-weight: bold;
  font-size: 12px;
  margin-left: -35px;
}

.btnWrapper button:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
.formInput:focus {
  border-width: 3px;
}
